.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
@font-face {
  font-family: Tahoma2;
  src: url(../fonts/Tahoma2.ttf);
  font-weight: normal;
}
/* Your Custom code here */
/* Your custom cod here */
body {
  color: #f8f8f8;
  font-family: Tahoma2;
  font-size: 12px;
  border-top: 5px solid #7e7e7e;
  margin: 0;
  background: transparent url(img/bg.png);
}
body a {
  color: inherit;
  text-decoration: underline;
}
body a:hover {
  text-decoration: none;
}
input[type="text"],
input[type="email"] {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  height: 30px;
  padding: 0 10px;
  vertical-align: top;
  font-family: Tahoma2, sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
}
input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder {
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder {
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
}
input[type="submit"] {
  color: #fff;
  background-color: #29c5e6;
  border: none;
  height: 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p {
  margin: 20px 0;
  color: #7e7e7e;
  line-height: 24px;
}
#wrapper {
  max-width: 960px;
  margin: 0 auto;
}
/*	Header Styles */
header {
  padding: 25px 0 0 0;
  margin: 0;
  /* Top menu */
}
header a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header form[name="search"] {
  float: right;
}
header .ale_topmenu .top-nav ul {
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  line-height: 38px;
  text-transform: uppercase;
}
header .ale_topmenu .top-nav ul li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 43px;
  display: inline-block;
  margin: 0;
}
header .ale_topmenu .top-nav ul li.current-menu-item {
  background: #29c5e6;
  margin: 0 -4px;
}
header .ale_topmenu .top-nav ul li.current-menu-item a {
  color: #fff;
}
header .ale_topmenu .top-nav ul li.current-menu-item:hover {
  background: #29c5e6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .ale_topmenu .top-nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0 30px;
}
header .ale_topmenu .top-nav ul li:hover {
  background: #b0e9f5;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: white;
}
header .ale_topmenu .top-nav .top-menu a {
  color: #b2b2b2;
}
/* Aside menu */
#heading {
  background: transparent url(img/h1-bg.png);
  margin: 30px 0;
  padding-left: 20px;
}
#heading h1 {
  display: inline-block;
  color: #7e7e7e;
  font: 40px/40px 'Oswald', sans-serif;
  font-weight: 400;
  background: url(img/bg.png);
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}
.as {
  background: #40ED0;
  float: left;
  width: 27%
  height: 25px;
}
.as aside {
  float: left;
  width: 27;
  margin: 0;
}
.as aside h2 {
  text-transform: uppercase;
  background: #29c5e6;
  font: 14px 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 10px;
  margin: 30px 0 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.as aside span {
  display: block;
  margin: 10px 0 10px 10px;
}
.as aside p {
  ground: #f3f3f3;
  border: 1px solid #e7e7e7;
  padding: 10px;
  margin: 0;
}
.as aside .leftnav {
  width: 230px;
}
.as aside .leftnav ul.leftmenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
.as aside .leftnav ul.leftmenu li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif;
  font-weight: 400;
  margin: 0;
  border: 1px solid #e7e7e7;
  width: 95%;
  margin-bottom: -1px;
  color: #b2b2b2;
  background-color: #f3f3f3;
  line-height: 40px;
  padding-left: 10px;
  text-transform: uppercase;
}
.as aside .leftnav ul.leftmenu li.current-menu-item {
  background: #b0e9f5;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.as aside .leftnav ul.leftmenu li.current-menu-item:hover {
  color: #b2b2b2;
}
.as aside .leftnav ul.leftmenu li.current-menu-item a {
  font-weight: 500;
}
.as aside .leftnav ul.leftmenu li:last-child {
  margin-bottom: 0;
}
.as aside .leftnav ul.leftmenu li::before {
  content: "\f0c8";
  font: normal normal normal 10px/1 FontAwesome;
  display: inline-block;
  float: left;
  line-height: 40px;
  padding-right: 10px;
}
.as aside .leftnav ul.leftmenu li.active {
  color: #29c5e6;
}
.as aside .leftnav ul.leftmenu li.active:hover {
  background: #f3f3f3;
  color: #29c5e6;
}
.as aside .leftnav ul.leftmenu li:hover {
  background: #b0e9f5;
  color: white;
}
.as aside .leftnav ul.leftmenu li a {
  color: #b2b2b2;
  text-decoration: none;
  display: block;
}
/* Section */
.content {
  float: right;
  width: 71%;
  margin-left: 20px;
  /* Content */
}
.content ul,
.content ol {
  margin-left: 15px;
}
.content ul li,
.content ol li {
  padding-bottom: 10px;
}
.content section {
  padding-bottom: 20px;
}
.content section blockquote {
  margin: 0;
  background: #29c5e6;
  padding: 10px 20px;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 300;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content section blockquote p {
  color: #fff;
  font-style: italic;
  font-size: 27px;
  margin: 0;
  text-transform: uppercase;
  line-height: 35px;
}
.content section blockquote cite {
  display: block;
  font-size: 20px;
  font-style: normal;
  color: #e7e7e7;
  margin: 0;
  text-align: right;
}
.content div.fig figure {
  display: inline-block;
  margin: 0 0 0 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.content div.fig figure:first-child {
  margin-left: 0px;
}
.content div.fig figure img {
  display: block;
  border: 1px solid #fff;
  outline: 1px solid #c9c9c9;
}
.content div.fig figure figcaption {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}
.content div.fig figure figcaption span {
  display: block;
  font-size: 14px;
  color: #29c5e6;
}
/* Production_footer */
.production_footer {
  position: relative;
}
.production_footer .pro_list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.production_footer .pro_list .item_product {
  margin: 20px 0 0 43px;
}
.production_footer .pro_list .item_product img {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.production_footer .pro_list .item_product img:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.production_footer .pro_list .item_product .title_product {
  margin-top: 10px;
}
.production_footer .pro_list .item_product .title_product a {
  color: #7e7e7e;
  text-decoration: none;
}
.production_footer .pro_list .item_product .title_product h4.product {
  font-size: 16px;
  font-weight: 300;
  font-family: Tahoma, sans-serif;
  padding-bottom: 2px;
  margin-bottom: 2px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.production_footer .pro_list .item_product .title_product h4.product:hover {
  color: #000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.production_footer .pro_list .item_product .title_product span.price {
  color: #29C5E6;
  font-size: 14px;
}
.production_footer h2 {
  background: #29c5e6;
  font: 30px 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
  padding: 0 10px;
  margin: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.production_footer .left {
  width: 45px;
  hight: 45px;
  display: block;
  border: 2px solid transparent;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  position: absolute;
  left: -57px;
  top: 95px;
}
.production_footer .left:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
}
.production_footer .right {
  width: 45px;
  hight: 45px;
  display: block;
  border: 2px solid transparent;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  position: absolute;
  right: -57px;
  top: 108px;
}
.production_footer .right:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
}
.clear {
  clear: both;
}
/* FOOTER */
footer {
  position: absolute;
  background: #7e7e7e;
  color: #dbdbdb;
  font-size: 11px;
  position: relative;
  margin-top: 50px;
}
footer h3 {
  font: 14px 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px solid #919191;
  margin: 0 0 10px 0;
}
footer #ale_footer {
  max-width: 960px;
  margin: auto;
  padding: 10px 0;
  min-height: 90px;
}
footer #ale_footer a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer #ale_footer a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer #ale_footer #ale_footer-logo {
  float: left;
  margin-top: 10px;
  font-size: 10px;
  width: 18%;
  color: #fff;
}
footer #ale_footer a {
  color: inherit;
  text-decoration: underline;
}
footer #ale_footer a:hover {
  text-decoration: none;
}
footer #ale_footer #ale_contact {
  float: left;
  width: 25%;
  color: #fff;
  margin-right: 20px;
}
footer #ale_footer #ale_contact .con {
  margin-top: 5px;
}
footer #ale_footer #ale_contact .con span {
  font-weight: bold;
}
footer #sitemap {
  float: left;
  width: 25%;
  margin-right: 20px;
}
footer #sitemap .footermenu {
  margin-right: 30px;
}
footer #sitemap .footermenu li {
  display: block;
  width: 49%;
  float: left;
}
footer #sitemap a {
  color: #dbdbdb;
  display: block;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
footer #sitemap a:hover {
  text-decoration: underline;
}
footer #social {
  float: left;
  width: 25%;
  margin-right: 20px;
}
footer #social div {
  display: inline-block;
  margin-right: 30px;
}
footer #social .social-icon {
  background: url(img/sprites.png) no-repeat;
  width: 28px;
  height: 35px;
  display: inline-block;
  margin-right: 13px;
}
footer #social .social-icon:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer #social .vk {
  background-position: 0 0;
}
footer #social .fb {
  background-position: -30px 0;
}
footer #social .youtube {
  background-position: -60px 0;
}
footer #social a {
  color: #dbdbdb;
  display: block;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
footer #social a:hover {
  text-decoration: underline;
}
/* HOME SLIDERS */
.home_slider {
  margin-top: 30px;
}
.home_slider img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_slider a {
  text-decoration: none;
}
.home_slider .flexslider {
  position: relative;
}
.home_slider .flexslider .flex-prev {
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -20px;
  margin-top: -20px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
}
.home_slider .flexslider .flex-next {
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: -20px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 23px;
}
.home_slider ul.slides li {
  display: block;
  width: 100;
}
.home_slider ul.slides li img {
  max-width: 100%;
  height: auto;
}
.home_slider ul.slides li figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
.home_slider ul.slides li figcaption .mainslidertitle {
  display: inline-block;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 27px;
  padding: 10px;
  text-align: left;
  color: #5a5a5a;
  font-family: Oswald;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 37px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_slider ul.slides li figcaption .mainsliderdesc {
  display: inline-block;
  margin-top: 15px;
  font-family: Oswald;
  font-weight: 300;
  padding: 5px 5px;
  margin-left: 40px;
  font-size: 20px;
  color: #acacac;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_slider ul.slides li figcaption .sliderlinkmore {
  background-color: #29c5e6;
  color: #fff;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 20px;
  width: 100px;
  height: 20px;
  display: block;
  margin-left: 40px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_slider ul.slides li figcaption .sliderlinkmore:hover {
  background-color: #000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* CONTACTS */
.container .page_content {
  font-family: Tahoma2;
  font-size: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.container .page_content p {
  font-family: Tahoma2;
  font-size: 12px;
  text-align: center;
}
.container .contacts_data {
  margin-bottom: 90px;
  margin-left: 80px;
  margin-right: 80px;
}
.container .contacts_data .third_part {
  width: 33.3%;
  float: left;
  color: #000;
}
.container .contacts_data .third_part i.fa {
  font-size: 18px;
  color: #fdeb9c;
  margin-right: 10px;
}
.container .contacts_data .third_part span.label {
  display: block;
  font-size: 12px;
  color: #a3a3a3;
  line-height: 24px;
  font-family: Tahoma2;
}
.container .contacts_data .third_part span.value {
  margin-left: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.container .contacts_data .third_part span.value.phone_number {
  font-size: 22px;
}
.container .contacts_data .third_part span.value.mail a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.container .contacts_data .third_part span.value.mail a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
p.success {
  font-size: 20px;
}
.contact_form {
  margin-bottom: 80px;
}
.contact_form .inner_page_title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.contact_form .inner_page_title h2.inner_title {
  color: #000;
  font-weight: 400;
  display: inline-block;
}
.contact_form .inner_page_title h2.inner_title::before {
  content: "";
  height: 1px;
  border-top: 1px solid #e7e7e7;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
}
.contact_form .inner_page_title h2.inner_title::after {
  content: "";
  height: 1px;
  border-top: 1px solid #e7e7e7;
  width: 35%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
}
.contact_form .item_line {
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}
.contact_form .item_line .item_input {
  width: 31.3%;
  margin-right: 3%;
  float: left;
  box-sizing: border-box;
}
.contact_form .item_line .item_input:last-child {
  margin-right: 0;
}
.contact_form .item_line input[type="text"],
.contact_form .item_line input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-style: italic;
  color: #7e7e7e;
}
.contact_form .item_line input[type="text"]::-webkit-input-placeholder,
.contact_form .item_line input[type="email"]::-webkit-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line input[type="text"]:-ms-input-placeholder,
.contact_form .item_line input[type="email"]:-ms-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line input[type="text"]::-ms-input-placeholder,
.contact_form .item_line input[type="email"]::-ms-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line input[type="text"]::placeholder,
.contact_form .item_line input[type="email"]::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line textarea {
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 20px;
  font-size: 12px;
  font-style: italic;
  color: #7e7e7e;
  height: 150px;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  vertical-align: top;
  font-family: Tahoma2, sans-serif;
}
.contact_form .item_line textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line textarea:-ms-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line textarea::-ms-input-placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_form .item_line textarea::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #b2b2b2;
}
.contact_map {
  position: relative;
}
.contact_map::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
/* Blog */
.blog .entry-blog::before {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  border-top: 1px dashed #b2b2b2;
  padding-bottom: 25px;
  top: 0;
  left: 0;
  margin-top: 30px;
}
.blog .entry-blog .blog-post a img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  max-width: 100%;
  height: auto;
}
.blog .entry-blog .blog-post a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .entry-blog .blog-post .post-title {
  float: left;
  width: 50%;
  margin-top: 30px;
}
.blog .entry-blog .blog-post .post-title a {
  color: #000;
  text-decoration: none;
}
.blog .entry-blog .blog-post .post-title h4 {
  font-size: 26px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .entry-blog .blog-post .post-title h4:hover {
  color: #000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .entry-blog .blog-post .post-short {
  float: left;
  width: 50%;
  margin-top: 30px;
}
.blog .entry-blog .blog-post .post-short a {
  text-decoration: none;
}
.blog .entry-blog .blog-post .post-short p {
  position: relative;
  padding: 0 0 10px 0;
  margin: 0;
}
.blog .entry-blog .blog-post .post-short .read {
  background: #29c5e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .entry-blog .blog-post .post-short .read:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-pagination {
  margin-top: 30px;
  text-align: center;
}
.post-pagination::before {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  border-top: 1px dashed #b2b2b2;
  padding-bottom: 25px;
  top: 0;
  left: 0;
  margin-top: 30px;
}
.post-pagination .post-pages-f {
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}
.post-pagination .post-pages-f .current {
  width: 28px;
  background: #29c5e6;
  height: 28px;
  color: #FFF;
  background-color: #84428c;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  margin-left: 5px;
  margin-rigth: 8px;
}
.post-pagination .post-pages-f a {
  margin-left: 10px;
  font-size: 19px;
  color: inherit;
  text-decoration: none;
}
.post-pagination .post-pages-f a:hover {
  text-decoration: underline;
}
.post-pagination .arrow-left {
  display: inline-block;
}
.post-pagination .arrow-left img {
  margin-top: -10px;
  margin-right: 40px;
}
.post-pagination .arrow-left a {
  margin-right: 30px;
  background: url("img/left.png") no-repeat center;
  line-height: 44px;
  height: 30px;
  width: 30px;
  font-size: 0;
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-pagination .arrow-left a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-pagination .arrow-right {
  display: inline-block;
}
.post-pagination .arrow-right img {
  margin-top: -10px;
  margin-left: 40px;
}
.post-pagination .arrow-right img:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-pagination .arrow-right a {
  margin-left: 30px;
  background: url("img/right.png") no-repeat center;
  line-height: 44px;
  height: 30px;
  width: 30px;
  font-size: 0;
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.post-pagination .arrow-right a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* Single Blog */
.single-blog {
  margin-top: 30px;
  text-align: center;
}
.single-blog .blog-single-caption {
  float: left;
}
.single-blog::before {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  border-top: 1px dashed #b2b2b2;
  padding-bottom: 25px;
  top: 0;
  left: 0;
  margin-top: 30px;
}
.single-blog h3 {
  font-size: 26px;
}
.single-blog .text .full .story img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.single-blog .text .full .story::after {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  border-top: 1px dashed #b2b2b2;
  padding-bottom: 25px;
  top: 0;
  left: 0;
  margin-top: 30px;
}
.blog-single-caption a {
  margin-top: 10px;
  text-decoration: none;
}
.blog-single-caption a:hover {
  text-decoration: underline;
}
/* Production Archive-pages */
.content-production .hd-block {
  float: left;
  width: 29.6%;
  height: 51h4.product0px;
  border: 1px solid #e7e7e7;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content-production .hd-block:first-child {
  margin-left: 65px;
}
.content-production .hd-block:nth-child(3n+2) {
  margin-right: 0;
}
.content-production .hd-block:nth-child(2) {
  margin-left: 35px;
}
.content-production .hd-block img {
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.content-production .hd-block img:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.content-production .hd-block .hd-block-text p {
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
.content-production .hd-block .hd-block-text a {
  text-decoration: #000;
  font-size: 18px;
  font-family: Oswald, sans-serif;
}
.content-production .hd-block .hd-block-text a h3 {
  color: #7e7e7e;
  padding-left: 20px;
  font-family: Oswald, sans-serif;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content-production .hd-block .hd-block-text .block-text-bottom {
  color: #FF6600;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* PRODUCTS SINGLE */
.products-single .hd-block {
  float: left;
  width: 38%;
  height: 51 h4.product0px;
  border: 1px solid #e7e7e7;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.products-single .hd-block img {
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.products-single .hd-block .block-text-bottom {
  color: #FF6600;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
}
#vk_comments {
  margin-bottom: 50px;
}
/* Home content */
.home_content {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
.home_content h2 {
  background: url("img/h1-bg.png") transparent;
  padding: 5px 20px;
}
.home_content h3 {
  font-family: Oswald, sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 20px;
}
.home_content h3:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content a {
  text-decoration: none;
}
.home_content .home_about {
  float: left;
}
.home_content .home_about figure {
  float: left;
  width: auto;
}
.home_content .home_about figure img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_content .home_about figure:last-child {
  font-size: 12px;
  line-height: 24px;
  float: left;
  width: 64%;
  margin-left: 22px;
  font-family: Tahoma2, sans-serif;
}
.home_content .read {
  background: #29c5e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  color: #fff;
  padding: 0 4px 1px 5px;
  margin-left: 10px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .read:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-content-production {
  float: left;
  margin-top: 35px;
}
.home_content .home-content-production .home-hd-block {
  background-clip: padding-box;
  border: 1px solid #E7E7E7;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  float: left;
  margin-bottom: 50px;
  margin-right: 44px;
  width: 30%;
}
.home_content .home-content-production .home-hd-block p {
  font-size: 10px;
  margin: 0;
  padding: 0 10px;
}
.home_content .home-content-production .home-hd-block a img {
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home_content .home-content-production .home-hd-block a img:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-content-production .home-hd-block .block-text-bottom {
  color: #FF6600;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.home_content .home-content-production .home-hd-block:last-child {
  margin-right: 0px;
}
.home_content .home-blog-post {
  float: left;
}
.home_content .home-blog-post .hd-block {
  float: left;
  width: 48.8%;
  padding-right: 20px;
  height: auto;
}
.home_content .home-blog-post .hd-block:last-child {
  padding-right: 0;
  float: right;
}
.home_content .home-blog-post .hd-block img {
  width: 450px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-blog-post .hd-block img:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-blog-post .hd-block .post-title h4 {
  margin-top: 10px;
  font-size: 21px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-blog-post .hd-block .post-title h4:hover {
  color: #000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_content .home-blog-post .hd-block .post-short a {
  padding: 5px;
}
.postfullimg img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  max-width: 100%;
  height: auto;
}
.post-title-postfull .posfull_h4 {
  font-size: 26px;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
}
.pagetitlesearch {
  font-size: 20px;
}
